/* top padding */
.pad5-top { 
	margin-top:5px; 
}

.pad10-top { 
	margin-top:10px; 
}

.pad15-top { 
	margin-top:15px; 
}

.pad20-top { 
	margin-top:20px; 
}

.pad25-top { 
	margin-top:25px; 
}

.pad30-top { 
	margin-top:30px; 
}

.pad35-top { 
	margin-top:35px; 
}

.pad40-top { 
	margin-top:40px; 
}

/* bottom padding */
.pad5-bottom { 
	margin-bottom:5px; 
}

.pad10-bottom { 
	margin-bottom:10px; 
}

.pad15-bottom { 
	margin-bottom:15px; 
}

.pad20-bottom { 
	margin-bottom:20px; 
}

.pad25-bottom { 
	margin-bottom:25px; 
}

.pad30-bottom { 
	margin-bottom:30px; 
}

.pad35-bottom { 
	margin-bottom:35px; 
}

.pad40-bottom { 
	margin-bottom:40px; 
}

.pad80-bottom { 
	margin-bottom:80px; 
}




/* right padding */
.pad5-right { 
	margin-right:5px; 
}

.pad10-right { 
	margin-right:10px; 
}

.pad15-right { 
	margin-right:15px; 
}

.pad20-right { 
	margin-right:20px; 
}

.pad25-right { 
	margin-right:25px; 
}

.pad30-right { 
	margin-right:30px; 
}

.pad35-right { 
	margin-right:35px; 
}

.pad40-right { 
	margin-right:40px; 
}


/* left padding */
.pad5-left { 
	margin-left:5px; 
}

.pad10-left { 
	margin-left:10px; 
}

.pad15-left { 
	margin-left:15px; 
}

.pad20-left { 
	margin-left:20px; 
}

.pad25-left { 
	margin-left:25px; 
}

.pad30-left { 
	margin-left:30px; 
}

.pad35-left { 
	margin-left:35px; 
}

.pad40-left { 
	margin-left:40px; 
}

.indent {
	margin-left: 35px;
}


