/* top padding */
.pad5-top { 
	margin-top:5px; 
}

.pad10-top { 
	margin-top:10px; 
}

.pad15-top { 
	margin-top:15px; 
}

.pad20-top { 
	margin-top:20px; 
}

.pad25-top { 
	margin-top:25px; 
}

.pad30-top { 
	margin-top:30px; 
}

.pad35-top { 
	margin-top:35px; 
}

.pad40-top { 
	margin-top:40px; 
}

/* bottom padding */
.pad5-bottom { 
	margin-bottom:5px; 
}

.pad10-bottom { 
	margin-bottom:10px; 
}

.pad15-bottom { 
	margin-bottom:15px; 
}

.pad20-bottom { 
	margin-bottom:20px; 
}

.pad25-bottom { 
	margin-bottom:25px; 
}

.pad30-bottom { 
	margin-bottom:30px; 
}

.pad35-bottom { 
	margin-bottom:35px; 
}

.pad40-bottom { 
	margin-bottom:40px; 
}

.pad80-bottom { 
	margin-bottom:80px; 
}
